@media (max-width:1024px){
    body{display: flex; min-height: 100vh; flex-direction: column;}
    header{padding:20px 0 0;}
    .main{margin-bottom: 20px;}
    .main .content h1{font-size:28px;}
    .main .content .details li{font-size: 18px;}
    .main .form{padding: 20px;}
    .form .input_filed input, .form .input_filed select{height:58px; font-size: 16px;}
    .form .input_btn input{font-size: 22px;}
    footer{margin-top:auto; padding:0;}
    footer .footer_content{width: 49%;}
    footer .footer_content h4{font-size:22px;}
}

@media (max-width:767px){
    .main .left{width: 100%; padding-right: 0; margin-bottom: 20px;}
    .main .content h1{font-size: 24px;margin: 30px 0 15px;}
    .main .right{width:100%;}
    footer{margin-top: 30px;}
    footer .footer_content{width: 100%;}
    footer .footer_content ul li{margin:12px 25px 0 0;}
    .form .input_btn input{font-size: 20px;width: 200px;}
}
