@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: normal;
  font-weight: normal;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  transition: all 0.5s ease-in-out 0s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  transition: 0.5s;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.fix_wrap {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}
input::-webkit-input-placeholder{opacity: 1;}
input:-ms-input-placeholder{opacity: 1;}
input::placeholder{opacity: 1;}

header{padding: 40px 0 0;}

.main{width:100%; float: left; position: relative; z-index: 9;}
.main .left{width:50%; float: left; padding-right: 15px;}
.main .right{width:50%; float: right;}
.main .content h1{font-size: 36px; font-weight: 500; margin:50px 0 35px;}
.main .content .details li{font-size:20px; padding:0 0 20px 35px; position: relative;}
.main .content .details li:before{width:23px; height:23px; background:url(../images/check.png); position: absolute; left: 0; content: "";}
.main .form{background: #dee9f1; width:100%; float: left; padding: 40px 45px; border-radius: 10px;}
.form .input_filed input, .form .input_filed select {height: 64px; width:100%; border-radius: 10px; border: 1px solid #777777; font-size: 18px; color: #777777; padding: 0 15px; box-shadow: 0 0 10px rgb(0 0 0 / 10%);}
.form .input_filed input:focus-visible, .form .input_filed select:focus-visible{border:1px solid #FD7F39; outline: none;}
.form .input_filed select{-webkit-appearance: none; -moz-appearance:none; appearance:none; background-image: url(../images/down.png); background-repeat: no-repeat; background-position: 97% center;}
.form .input_filed{margin-bottom: 15px; width:100%; float: left;}
.form .input_filed.input_right{float: right;}
.form .input_part .input_filed{width:48%;}
.form .input_btn{text-align: center; margin:15px 0 30px; width:100%; float: left;}
.form .input_btn input {display: inline-block; transition: 0.5s; cursor: pointer; height: 60px; background: #FD7F39; width: 225px; border: none; border-radius: 20px; font-weight: 700; font-size: 24px; color: #FFFFFF;}
.form .input_btn input:hover{background:#000;}
.form .input_part{width:100%; float: left;}
.form .input_text{text-align: center; color: #444444; font-size: 15px;}

footer{width:100%; float:left; background: #f3f7f8; padding-bottom:150px; margin-top: -210px;}  
footer .footer_content{z-index:10; padding:40px 0 50px 35px; width:375px; position: relative;}
footer .footer_content:before{width:24px; height:29px; background:url(../images/shield.png); position: absolute; left: 0; content: "";}
footer .footer_content h4{font-size: 25px; font-weight: 500; margin-bottom: 10px;}
footer .footer_content ul li{display: inline-block; margin:12px 30px 0 0;}

.account_step {margin-top:50px;}
.account_step li{font-size: 24px; padding:0 0 20px 35px; position: relative;}
.account_step li a{color:#000}
.account_step li:after {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0;
  box-shadow: 0px 0px 0px 2px #FD7F39 inset;
  border-radius: 50%;
  top: 2px;
}
.account_step li.active a{font-weight: 700;}
.account_step li.active:after{box-shadow: 0px 0px 0px 3px #FD7F39 inset;}
.account_step li.done:after{background: url(../images/check.png);}
.main .right h2{font-size: 36px; font-weight: 500; padding:0 0 25px 65px;}
.main.account .left{width: 30%;}
.main.account .right{width: 70%;}