@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  transition: all 0.5s ease-in-out 0s;
}

header {
  width: 100%;
  float: left;
  padding: 20px 0 0;
}

header .navbar.navbar-light {
  padding: 0;
}

header .navbar.navbar-light .navbar-brand {
  padding: 0;
  position: relative;
  top: -5px;
  margin: 0;
}

@media (min-width: 992px) {
  header .navbar.navbar-light .navbar-collapse {
    justify-content: center;
    margin-top: 21px;
  }
  header .navbar.navbar-light .navbar-collapse .navbar-nav .nav-link {
    padding: 0 18px 14px;
    font-size: 18px;
    margin: 0 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: #006a4d;
    position: relative;
  }
  header .navbar.navbar-light .navbar-collapse .navbar-nav .nav-link:after {
    height: 4px;
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #69be28;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    margin: auto;
  }
  header .navbar.navbar-light .navbar-collapse .navbar-nav .nav-link:hover {
    color: #69be28;
  }
  header .navbar.navbar-light .navbar-collapse .navbar-nav .nav-link:hover::after {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }
  header .navbar.navbar-light .navbar-collapse .navbar-nav .nav-link.active {
    color: #69be28;
  }
  header .navbar.navbar-light .navbar-collapse .navbar-nav .nav-link.active:after {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }
}

header .navbar.navbar-light .reg_btn {
  line-height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 15px;
  margin-top: 10px;
  background: #69be28;
  color: #ffffff;
  position: relative;
}

header .navbar.navbar-light .reg_btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #006a4d;
  left: 0;
  transition: 0.5s;
}

header .navbar.navbar-light .reg_btn:hover {
  text-decoration: none;
}

header .navbar.navbar-light .reg_btn:hover::after {
  height: 100%;
}

header .navbar.navbar-light .reg_btn span {
  position: relative;
  z-index: 1;
}

.banner {
  width: 100%;
  float: left;
  background: url("/images/banner.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  height: 400px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.banner strong {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  display: block;
}

.banner h1 {
  font-size: 58px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 5px 0 15px;
  margin: 0 0 23px;
}

.banner small {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  display: block;
}

.about_sec {
  width: 100%;
  float: left;
  padding: 110px 0;
}

.about_sec h2 {
  font-size: 36px;
  color: #006a4d;
  font-weight: 700;
  text-transform: uppercase;
}

.about_sec span {
  font-size: 20px;
  font-weight: 700;
  color: #006a4d;
  margin: 0 0 5px;
  display: block;
}

.speakers_sec {
  width: 100%;
  float: left;
  background: #006a4d;
  color: #ffffff;
  font-weight: 700;
  padding: 95px 0;
}

.speakers_sec .container {
  max-width: 900px;
}

.speakers_sec .container .sp_head h3 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 15px;
}

.speakers_sec .container .sp_cell {
  margin: 30px 0 70px;
  width: 100%;
  float: left;
}

.speakers_sec .container .sp_cell h6 {
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0 5px;
}

.speakers_sec .container .sp_cell small {
  font-size: 14px;
  font-weight: 700;
}

.speakers_sec .container .view_btn {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 22px;
  line-height: 42px;
  border: 2px solid #fff;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  position: relative;
}

.speakers_sec .container .view_btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  background: #ffffff;
  left: 0;
  transition: 0.5s;
  height: 100%;
}

.speakers_sec .container .view_btn:hover {
  text-decoration: none;
  color: #006a4d;
}

.speakers_sec .container .view_btn:hover::after {
  width: 100%;
}

.speakers_sec .container .view_btn span {
  position: relative;
  z-index: 1;
}

footer {
  width: 100%;
  float: left;
  background: #3c3c3c;
  height: 225px;
  color: #ffffff;
}

footer small {
  font-weight: 700;
  font-size: 16px;
}

footer .float-right h6 {
  font-weight: 700;
  font-size: 18px;
  padding: 0px 0px 12px 5px;
  margin: 0;
}

footer .float-right ul {
  margin: 0;
  padding: 0;
}

footer .float-right ul li {
  list-style: none;
  float: left;
  margin-left: 5px;
}

footer .float-right ul li a {
  color: #ffffff;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 37px;
  transition: 0.5s;
}

footer .float-right ul li a:hover {
  background: #ffffff;
  color: #006a4d;
  border-color: #006a4d;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
  .banner strong {
    font-size: 28px;
  }
  .banner h1 {
    font-size: 50px;
    padding: 5px 0 10px;
  }
  .banner small {
    font-size: 20px;
  }
  .about_sec {
    padding: 70px 0;
  }
  .about_sec p {
    margin-bottom: 12px;
  }
  .speakers_sec {
    padding: 70px 0;
  }
  .speakers_sec .container .sp_cell {
    padding: 0 15px;
  }
  footer {
    height: 170px;
  }
}

@media only screen and (max-width: 991px) {
  header {
    position: relative;
    padding: 0;
  }
  header .navbar.navbar-light .navbar-brand {
    top: 0;
    margin: 7px 0 3px;
  }
  header .navbar.navbar-light .navbar-collapse {
    position: absolute;
    top: 100%;
    background: #006a4d;
    left: -15px;
    right: -15px;
  }
  header .navbar.navbar-light .navbar-collapse .navbar-nav a.nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    transition: 0.5s;
  }
  header .navbar.navbar-light .navbar-collapse .navbar-nav a.nav-link:hover {
    background-color: #69be28;
  }
  header .navbar.navbar-light .navbar-collapse .nav-link.active {
    background-color: #69be28;
  }
  header .navbar.navbar-light .reg_btn {
    position: absolute;
    right: 60px;
    margin: 0;
    top: 0;
    line-height: 60px;
  }
  header .navbar.navbar-light .navbar-toggler {
    background: #69be28;
    border-radius: 0;
    height: 60px;
    border: none;
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    height: 300px;
  }
  .banner strong {
    font-size: 24px;
  }
  .banner h1 {
    font-size: 36px;
    margin: 0 0 15px;
  }
  .banner small {
    font-size: 18px;
  }
  .about_sec {
    padding: 40px 0;
    text-align: center;
  }
  .about_sec h2 {
    font-size: 30px;
  }
  .about_sec p {
    margin-bottom: 15px;
  }
  .about_sec img {
    width: 100%;
    margin-top: 10px;
  }
  .speakers_sec {
    padding: 45px 0;
  }
  .speakers_sec .container .sp_head h3 {
    font-size: 28px;
  }
  .speakers_sec .container .sp_cell {
    margin: 30px 0 10px;
  }
  .speakers_sec .container .sp_cell .col-6 {
    margin-bottom: 30px;
  }
  footer {
    height: 150px;
  }
  footer .float-right h6 {
    font-size: 16px;
  }
  footer .float-right ul li a {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 27px;
  }
}
