@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap');

$green : #006a4d;
$light-green : #69be28;
$white-text : #ffffff;
$bold-font : 700;
$grey-bg : #3c3c3c;

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: normal;
	font-weight: 400;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

img{
    border:none;	
    height: auto;	
    max-width: 100%;	
    vertical-align: middle;	
    transition: all 0.5s ease-in-out 0s;
}

@mixin header_effect(){
    visibility: visible;
    opacity: 1;
    width: 100%;
}

header{
    width:100%;
    float:left;
    padding: 20px 0 0;
    .navbar.navbar-light{
        padding: 0;
        .navbar-brand{
            padding: 0;
            position: relative;
            top:-5px;
            margin: 0;
        }
        .navbar-collapse{
            @media (min-width:992px){
                justify-content: center;
                margin-top: 21px;
            .navbar-nav{
                .nav-link{
                    padding: 0 18px 14px;
                    font-size: 18px;
                    margin: 0 1px;;
                    font-weight: $bold-font;
                    text-transform: uppercase;
                    color:$green;
                    position: relative;
                    &:after{
                        height:4px;
                        width:0;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: '';
                        background: $light-green;
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.5s;
                        margin: auto;
                    }
                    &:hover {
                        color:$light-green;
                    }
                    &:hover::after{
                        @include header_effect();
                    }
                    
                }
                .nav-link.active{
                    color:$light-green;
                    &:after{
                        @include header_effect();
                    }
                }
                }
            }
        }
        .reg_btn{
            line-height: 50px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: $bold-font;
            padding: 0 15px;
            margin-top: 10px;
            background: $light-green;
            color: $white-text;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                width:100%;
                height:0;
                background: $green;
                left:0;
                transition: 0.5s;
            }
            &:hover{
                text-decoration: none;
            }
            &:hover::after{
                height:100%;
            }
            span{
                position: relative;
                z-index: 1;
            }
        }
    }
}

.banner{
    width:100%;
    float: left;
    background: url('/images/banner.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    height:400px;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
    strong{
        font-size:32px;
        font-weight: $bold-font;
        color: $white-text;
        display: block;
    }
    h1{
        font-size:58px;
        font-weight: $bold-font;
        color: $white-text;
        border-bottom: 1px solid #fff;
        display: inline-block;
        padding: 5px 0 15px;
        margin:0 0 23px;
    }
    small{
        font-size:22px;
        font-weight: $bold-font;
        color: $white-text;
        display: block;
    }
}

.about_sec{
    width:100%;
    float: left;
    padding: 110px 0;
    h2{
        font-size: 36px;
        color: $green;
        font-weight: $bold-font;
        text-transform: uppercase;
    }
    span{
        font-size:20px;
        font-weight: $bold-font;
        color:$green;
        margin: 0 0 5px;
        display: block;
    }
}

.speakers_sec{
    width:100%;
    float: left;
    background: $green;
    color: $white-text;
    font-weight: $bold-font;
    padding: 95px 0;
    .container{
        max-width:900px;
        .sp_head{
            h3{
            font-size:36px;
            font-weight: $bold-font;
            margin:0 0 15px;
            }
        }
        .sp_cell{
            margin:30px 0 70px;
            width:100%;
            float: left;
            h6{
                font-weight: $bold-font;
                font-size: 18px;
                margin:10px 0 5px;
            }
            small{
                font-size: 14px;
                font-weight: $bold-font;
            }
        }
        .view_btn{
            font-size: 18px;
            text-transform: uppercase;
            padding: 0 22px;
            line-height: 42px;
            border: 2px solid #fff;
            display: inline-block;
            color: $white-text;
            font-weight: $bold-font;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                width:0;
                background: $white-text;
                left:0;
                transition: 0.5s;
                height:100%;
            }
            &:hover{
                text-decoration: none;
                color: $green;
            }
            &:hover::after{
                width: 100%;
            }
            span{
                position: relative;
                z-index:1;
            }
        }
    }   
}

footer{
    width:100%;
    float: left;
    background: $grey-bg;
    height:225px;
    color: $white-text;
    small{
        font-weight: $bold-font; 
        font-size: 16px;
    }
    .float-right{
        h6{
            font-weight: $bold-font;
            font-size: 18px;
            padding:0px 0px 12px 5px;
            margin:0;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                float: left;
                margin-left:5px;
                a{
                    color: $white-text;
                    display: block;
                    width: 40px;
                    height: 40px;
                    border: 2px solid $white-text;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 18px;
                    line-height: 37px;
                    transition: 0.5s;
                    &:hover{
                        background: $white-text;
                        color:$green;
                        border-color: $green;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width:1024px){
    .container{max-width:100%}

    .banner{
        strong{
            font-size: 28px;
        }
        h1{
            font-size: 50px;
            padding: 5px 0 10px;
        }
        small{
            font-size: 20px;
        }
    }

    .about_sec{
        padding: 70px 0;
        p{
            margin-bottom: 12px;
        }
    }

    .speakers_sec{
        padding: 70px 0;
        .container{
            .sp_cell{
                padding: 0 15px;
            }
        } 
    }

    footer{
        height:170px;
    }
}

@media only screen and (max-width:991px){
    header{
        position: relative;
        padding: 0;
        .navbar.navbar-light{
            .navbar-brand{
                top: 0;
                margin: 7px 0 3px;
            }
            .navbar-collapse{
                position: absolute; 
                top: 100%;
                background: $green;
                left: -15px;
                right: -15px;
                .navbar-nav{
                    a.nav-link{
                        color:$white-text;
                        text-transform: uppercase;
                        font-weight: $bold-font;
                        padding:10px 15px;
                        border-top:1px solid rgba(255,255,255,0.3);
                        font-size: 14px;
                        transition: 0.5s;
                        &:hover {
                            background-color:$light-green;
                        }
                    }
                }
                .nav-link.active{
                    background-color:$light-green;
                }
            }
            .reg_btn{
                position: absolute;
                right: 60px;
                margin:0;
                top:0;
                line-height: 60px;
            }
            .navbar-toggler{
                background: $light-green;
                border-radius: 0;
                height: 60px;
                border: none;
            }
        }
    }
}

@media only screen and (max-width:767px){
    .banner{
        height:300px;
        strong{
            font-size: 24px;
        }
        h1{
            font-size: 36px;
            margin:0 0 15px;
        }
        small{
            font-size: 18px;
        }
    }

    .about_sec{
        padding:40px 0;
        text-align: center;
        h2{
            font-size:30px;
        }
        p{
            margin-bottom: 15px;
        }
        img{
            width:100%;
            margin-top:10px;
        }
    }

    .speakers_sec {
        padding: 45px 0;
        .container{
            .sp_head{
                h3{
                    font-size: 28px;
                }
            }
            .sp_cell{
                margin:30px 0 10px;
                .col-6{
                    margin-bottom: 30px;
                }
            }
        }
    }

    footer {
        height: 150px;
        .float-right{
            h6{
                font-size: 16px;
            }
            ul{
                li{
                    a{
                        width: 30px;
                        height: 30px;
                        font-size: 14px;
                        line-height: 27px;
                    }
                }
            }
        }
    }
}